@import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";
h1 {
    font-size: 20px;
}

article {
    display: flex;
    flex-wrap: wrap;
    div {
        width: 15%;
        margin: 5%;
        h3 {
            margin: 2%;
        }
    }
}

img {
    width: 250px;
}

a {
    background-color: orangered;
    padding: 2%;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 5%;
}

#figure {
    display: flex;
    flex-wrap: wrap;
}